<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :duracao %><br />
    <%= f.text_field :duracao %>
  </div>
  <div class="field">
    <%= f.label :resumo %><br />
    <%= f.text_area :resumo %>
  </div>

  <%= render :partial => 'select_dinamica', locals: {f: f} %>
  <%= render :partial => 'dinamicas' %>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
